:root{
    --azul: rgb(30, 27, 209);
    --negro: #000000;
    --gris: #363434;
    --blanco: #fefefe;
    --nar1: #fff0d3;
    --nar2: #ffccbc;
    --nar3: #ffab91;
    --nar4: #ff8a65;
    --nar5: #ff7043;
    --nar6: #ff5722;
    --nar7: #f7590f;
    --rojo: rgb(224, 0, 0);
    --verde: #34cf26;
}

body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--nar1);
    padding: 0rem;
}

header {
    color: var(--nar1);
    font-size: 2.5rem;
}

.sombras:hover{
    background-color: var(--nar5);
}

.nav-wrapper {
    background-color: var(--nar7);
}

.brand-logo{
    margin: 0px 30px;
}

#cierre:hover{
    background-color: var(--rojo);
}

#tabla-resumen{
    padding: 3rem;
}

.texto{
    font-size: 1rem;
}

.headings{
    margin: 20px 0; 
    padding: 10px; 
    border-left: 5px solid var(--nar6); /* Línea decorativa a la izquierda */
    background-color: var(--blanco); 
    color: var(--gris); 
    font-weight: bold; 
    border-radius: 5px; 
}

.botones-reporte {
    display: flex;
    gap: 10px; 
    margin-top: 20px; 
}

.boton-reporte {
    background-color: var(--nar6); 
    color: var(--blanco); 
    border: 2px solid transparent;
    border-radius: 5px; 
    padding: 10px 20px;
    font-size: 16px; 
    font-weight: bold;
    cursor: pointer; /* Cursor de mano */
    transition: all 0.3s ease; /* Transición suave para hover */
}

.boton-reporte:hover {
    background-color: var(--blanco); /* Fondo blanco al pasar el cursor */
    color: var(--nar6); /* Texto naranja */
    border: 2px solid var(--nar7); /* Borde naranja */
}

h5.center-align {
    text-align: left;
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--nar4); 
    border-bottom: 3px solid var(--nar5); /* Línea decorativa debajo */
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

/*formulario para ingresar datos*/

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--nar7);
    font-size: 1rem;
}

.ingresar {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid var(--nar6);
    color: var(--gris); 
    box-sizing: border-box;
}

button {
    width: calc(50% - 10px); /* Cada botón ocupa la mitad del ancho menos espacio */
    padding: 10px;
    margin: 5px 5px 5px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    display: inline-block; /* Garantiza que los botones estén alineados horizontalmente */
    text-align: center;
    float: left; /* Alinea los botones a la izquierda */
}


button.save, 
button.clear {
    display: flex; /* Convierte el botón en un contenedor flex */
    align-items: center; /* Alinea verticalmente al centro */
    justify-content: center; /* Alinea horizontalmente al centro */
    padding: 10px; /* Espaciado interno */
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    border: none; /* Sin borde inicial */
    text-align: center;
}

button.save {
    background-color: var(--verde);
    color: var(--blanco);
}

button.clear {
    background-color: var(--azul);
    color: var(--blanco);
}

button.save:hover {
    background-color: var(--blanco);
    color: var(--verde);
    border: 2px solid var(--verde); 
    font-size: 1.2rem;
}

button.clear:hover {
    background-color: var(--blanco);
    color: var(--azul); 
    border: 2px solid var(--azul); 
    font-size: 1.2rem;
}